/* Estilos encabezado */
body {
  display: grid;
  min-height: auto;
  grid-template-rows: auto 1fr auto; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.fondoheader {
  background-color: rgb(49, 49, 166);
}

.centrartexto {
  text-align: center;
}

.margenderecho {
  text-align: justify;
  margin-right: 15%;
  padding-right: 3px;
}

/* Inicio container de header*/
.grid-container {
display: grid;
background-color: rgb(49, 49, 166);
padding: 0px;
}

.grid-item1 {
text-align: left;
padding: 1px;
}

.grid-item2 {
text-align: right;
padding: 1px;
}

.item1 {
grid-column: 1;
grid-row: 1 / span 1;
}

.item2 {
grid-column: 3;
grid-row: 1 / span 1;
}

.item3 {
grid-column: 1;
grid-row: 3 / span 1;
}
/*Fin container*/

.textopequeno { /* Texto idiomas y formulario */
  font-size: 90%; 
}

.botonpequeno {
  font-size: 60%; 
}

.textopie { /* Texto pequeño*/
  font-size: 55%; 
}

.textoheader {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.abtn {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.btnidioma {
  background-color: rgb(3, 3, 111);
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;    
}

.btnidioma:hover {
  background-color: rgb(93, 93, 210);
}

.btnmenu {
  background-color: rgb(167, 167, 219);
  border: 2px solid blue;
  border-radius: 12px;
  padding: 5px;
}

.btnsubmenu {
  background-color: rgb(167, 167, 219);
  border: 1px solid blue;
  border-radius: 1px;
  padding: 3%;
  width: 300px;
  text-align: center;
}

.btnmenu:hover {
  background-color: rgb(157, 233, 157);
}

header, section, nav, footer {
      padding: 20px;
      margin: 20px;
      border: 1px solid #6e44ec5b;
      border-radius: 8px;
  }

.subtitresalta {
  background-color: #baadcd;
  color: rgb(45, 39, 39);
}

/* Estilos generales para la navegación y las secciones */
.sectioncolor {
  background-color: rgba(119, 119, 225, 0.142);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navega {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin: 0 10px;
}

.lilocal {
  display: inline-block;
  margin: 0 10px;
}

section {
  display: none; /* Ocultamos todas las secciones por defecto */
}

/* Mostrar la sección inicial por defecto */
#seccion1 {
  display: block;
}

.formatoimgblog {
  text-align: center;
  border: 5px;
  border-radius: 10px;
  padding-top: 2%;
  width: 100%;
  height: auto;
}

.textocentrado {
  text-align: center;
}

/*Para la section de los proyectos*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.imagencv {
  float: left;
  border-radius: 10px;
  margin: 10px;
  align-items: left;
  display: flex;
  }

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
} /*Fin section de los proyectos*/

#menutecnolog { /* Esta opción me sirve para que el Footer no se sobreponga al submenú */
  z-index:9999;
}